[submodule "OCA/wms"]
	path = OCA/wms
	url = git@github.com:OCA/wms.git
	branch = 14.0

[submodule "OCA/server-auth"]
	path = OCA/server-auth
	url = git@github.com:OCA/server-auth.git
	branch = 14.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 14.0
